<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>com.example.servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserlistServlet</servlet-name>
    <servlet-class>com.example.servlet.UserlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InformaddServlet</servlet-name>
    <servlet-class>com.example.servlet.InformaddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InformlistServlet</servlet-name>
    <servlet-class>com.example.servlet.InformlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FieldlistServlet</servlet-name>
    <servlet-class>com.example.servlet.FieldlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlanlistServlet</servlet-name>
    <servlet-class>com.example.servlet.PlanlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>User_userlistServlet</servlet-name>
    <servlet-class>com.example.servlet.User_userlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userdetailServlet</servlet-name>
    <servlet-class>com.example.servlet.userdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.example.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InformEditServlet</servlet-name>
    <servlet-class>com.example.servlet.InformEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteInformServlet</servlet-name>
    <servlet-class>com.example.servlet.DeleteInformServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InformCheckServlet</servlet-name>
    <servlet-class>com.example.servlet.InformCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlanCheckServlet</servlet-name>
    <servlet-class>com.example.servlet.PlanCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FiledCheckServlet</servlet-name>
    <servlet-class>com.example.servlet.FiledCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FiledDeleteServlet</servlet-name>
    <servlet-class>com.example.servlet.FiledDeleteServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserlistServlet</servlet-name>
    <url-pattern>/UserlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformaddServlet</servlet-name>
    <url-pattern>/InformaddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformlistServlet</servlet-name>
    <url-pattern>/InformlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FieldlistServlet</servlet-name>
    <url-pattern>/FieldlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlanlistServlet</servlet-name>
    <url-pattern>/PlanlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User_userlistServlet</servlet-name>
    <url-pattern>/User_userlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userdetailServlet</servlet-name>
    <url-pattern>/userdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformEditServlet</servlet-name>
    <url-pattern>/InformEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteInformServlet</servlet-name>
    <url-pattern>/DeleteInformServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformCheckServlet</servlet-name>
    <url-pattern>/InformCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlanCheckServlet</servlet-name>
    <url-pattern>/PlanCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FiledCheckServlet</servlet-name>
    <url-pattern>/FiledCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FiledDeleteServlet</servlet-name>
    <url-pattern>/FiledDeleteServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>

